.main {
    display: flex;
    gap: 1rem;
    flex: 1;

    >* {
        flex: 1;
    }
}

.imageWrapper {
    height: 400px;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.lineBreak {
    height: 1px;
    background-color: var(--neutral-border-lighter);
}

.details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    line-height: 1.2;

    h2 {
        font-weight: 500;

    }


    section {

        display: flex;
        flex-direction: column;
        gap: .25rem;

        h3 {
            font-weight:600;
        }

    }

    p {
        font-size: 14px;
    }


}

.price {
    font-size: 1.5rem;
    display: flex;
    gap: .25rem;

    >span:first-child {
        align-self: flex-start;
        font-size: 14px;
    }

}