/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin, padding */
* {
    margin: 0;
    padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

/* 5. Improve text rendering */
body {
    -webkit-font-smoothing: subpixel-antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select,
a {
    all: unset;
    text-decoration: none;
    box-sizing: border-box;
    font: inherit;


}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Global Variables */

:root {
    --neutral: hsl(0 0 3);
    --neutral-lighter: hsl(0 0 5);
    --neutral-500: hsl(0 0 9);
    --neutral-hover: hsl(0 0 10);
    --neutral-border: hsl(0 0 15);


    --font-neutral: hsl(0 0 95);

    --primary-400: hsl(248, 98%, 61%);
    --primary-300: hsl(248, 98%, 67%);
    --primary-200: hsl(248, 98%, 81%);




}

/* General Styling */

body {
    background-color: var(--neutral);
    color: var(--font-neutral);
    display: flex;
    max-width: 1920px;
    margin: auto;
}

main {
    flex: 1;
}

button,
a:hover {
    cursor: pointer;
}
div[role='button']{
    cursor: pointer;
}