name: deploy

"on":
  push:
    branches:
    - main

jobs:
  build-and-deploy:
    runs-on: ubunut-latest

    steps:
    - name: Checkout code (fetch latest repo code)
      uses: actions/checkout@v4

    - name: Login to GHCR
      run: |
        echo "${{ secrets.GH_PAT }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

    - name: Build api image
      run: |
        docker build -t ghcr.io/${GITHUB_REPOSITORY,,}-api:${{ github.sha }} \
        -f api/Dockerfile.prod api

    - name: Build web image
      run: |
        docker build -t ghcr.io/${GITHUB_REPOSITORY,,}-web:${{ github.sha }} \
        -f web/Dockerfile.prod web

    - name: Push api image to GHCR
      run: |
        docker push ghcr.io/${GITHUB_REPOSITORY,,}-api:${{ github.sha }}

    - name: Push web image to GHCR
      run: |
        docker push ghcr.io/${GITHUB_REPOSITORY,,}-web:${{ github.sha }}

    - name: Update compose.prod.yaml to latestCommitHash as tag
      run: |
        sed -i "s|latestHashedTag|${{ github.sha }}|g" compose.prod.yaml

    - name: Copy files to ec2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "compose.prod.yaml,nginx, deploy.sh"
        target: /opt/myapp

    - name: Run deploy.sh on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          echo ${{ secrets.GH_PAT }} | sudo docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
          sudo chmod +x /opt/myapp/deploy.sh
          sudo /opt/myapp/deploy.sh
